Flask==3.0.0
flask-cors==4.0.0
python-socketio==5.9.0
python-engineio==4.7.1
Werkzeug==3.0.1
flask-sock>=0.7
python-dotenv==1.0.0
pillow>=11.0.0
Pillow-SIMD==9.0.0.post1; platform_machine == "x86_64"
requests==2.31.0
aiohttp==3.9.1
